<section id="contact-section">
    <div class="container">
        <p>Liên hệ</p>
    <div class="contact-container">
        <li><a href="https://www.facebook.com/" class="fab fa-facebook fa-3x"></a></li>
        <li><a href="https://twitter.com/" class="fab fa-twitter fa-3x"></a></li>
        <li><a href="https://www.youtube.com/" class="fab fa-youtube fa-3x"></a></li>
    </div>
    <p>Đăng ký nhận thông tin mới nhất</p>
    <input type="text" placeholder="Nhập email của bạn" class="email">
    </div>
</section>

<footer>
    <div class="footer-top">
        <p>Công ty Cổ Phần Lazy Aniki với số đăng ký kinh doanh 78QHQWHQ7CH</p>
        <p>Địa chỉ đăng ký: 123/456 phố Đằng Kia, thành phố Đằng Này</p>
        <p>Số điện thoại liên hệ: <strong>0123.123.123</strong></p>
    </div>

    <div class="footer-bottom">
        <p>© 1997-2021. Toàn bộ bản quyền thuộc Lazy Aniki</p>
    </div>
</footer>