<header>
    <div class="logo">
        <img src="/public/images/pic1.png" alt="logo">
        <span class="web-name">Lazy news</span>
    </div>

    <div class="menu">
        <% if(listTopic.length < 9) {
            for(let i = 0; i < listTopic.length; i++){ %>
                <li><a href="#" class="topic"><%= listTopic[i] %></a></li>
        <% }
        } else {
            for(let i = 0; i < 8; i++) { %>
                <li><a href="#" class="topic"><%= listTopic[i] %></a></li>
            <% } %>
            <li><a href="">Thêm <i class="fas fa-caret-down"></i></a>
                <ul class="sub-menu">
                    <% for(let i = 8; i < listTopic.length; i++) { %>
                        <li><a href="#" class="topic"><%= listTopic[i] %></a></li>
                    <% }
        } %>
    </div>

    <div class="others">
        <li><input type="text" placeholder="Tìm kiếm"> <a href="#" class="fas fa-search"></a></li>
        <li><a href="#contact-section" class="fas fa-phone"></a></li>
        <li><a href="/"><i class="fas fa-user"></i> <%= username %></a></li>
    </div>
</header>