<header>
    <div class="logo">
        <img src="/public/images/pic1.png" alt="logo">
        <span class="web-name">Lazy news</span>
    </div>

    <div class="menu">
        <li><a href="">Thời sự</a></li>
        <li><a href="">Góc nhìn</a></li>
        <li><a href="">Thế giới</a></li>
        <li><a href="">Kinh doanh</a></li>
        <li><a href="">Khoa học</a></li>
        <li><a href="">Thể thao</a></li>
        <li><a href="">Sức khỏe</a></li>
        <li><a href="">Pháp luật</a></li> 
        <li><a href="">Thêm <i class="fas fa-caret-down"></i></a>
            <ul class="sub-menu">
                <li><a href="">Chính trị</a></li>
                <li><a href="">Dân sinh</a></li>
                <li><a href="">Giao thông</a></li>
                <li><a href="">Mekong</a></li>
                <li><a href="">Quỹ hi vọng</a></li>
                <li><a href="">Tết yêu thương</a></li>
                <li><a href="">Du lịch</a></li>
                <li><a href="">Đời sống</a></li>
            </ul>
        </li>
    </div>

    <div class="others">
        <li><input type="text" placeholder="Tìm kiếm"> <a href="#" class="fas fa-search"></a></li>
        <li><a href="#contact-section" class="fas fa-phone"></a></li>
        <li><a href="#"><i class="fas fa-user"></i> Đăng nhập</a></li>
    </div>
</header>