<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <!-- Favicon -->
    <link rel="icon" href="/public/images/favicon.ico">

    <!-- Import CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel='stylesheet' href='/public/stylesheets/default.css' />
    <link rel='stylesheet' href='/public/stylesheets/header.css' />
    <link rel='stylesheet' href='/public/stylesheets/footer.css' />
    <link rel='stylesheet' href='/public/stylesheets/home.css' />

    <!-- Import JS file -->
    <script src="/public/javascripts/default.js"></script>
  </head>
  <body>
    <% include header %>

    <section class="latest-news-section">
      <div class="container">
        <h1>Tin tức mới nhất</h1>
        <div class="latest-news">
          <div class="latest-news-big-image">
            <img src="/public/images/slide1.jpg" alt="">
          </div>
          <div class="latest-news-small-images">
            <div class="latest-news-small-image">
              <img src="/public/images/slide2.jpg" alt="">
            </div>
            <div class="latest-news-small-image">
              <img src="/public/images/slide3.jpg" alt="">
            </div>
            <div class="latest-news-small-image">
              <img src="/public/images/slide4.jpg" alt="">
            </div>
            <div class="latest-news-small-image">
              <img src="/public/images/slide5.jpg" alt="">
            </div>
          </div>
          <div class="latest-news-content">
            <div class="latest-news-content-box">
              <h1>
                Tiêu đề bản tin hiện tại
              </h1>
              <p>
                Nội dung bản tin hiện tại: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed tellus sagittis, elementum orci a, convallis dolor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque tristique felis nisi, quis convallis nisi pulvinar vehicula. Nam id vehicula ligula. Vivamus ut venenatis risus. Vivamus neque ex, pulvinar ut augue eget, dignissim ultrices tortor. Donec dictum nisl et semper eleifend. Pellentesque eleifend porttitor tellus quis accumsan. Aliquam blandit tincidunt ligula vel hendrerit. Maecenas elementum dolor egestas, semper nisi in, hendrerit mi. Duis a dui lorem. Maecenas a sem interdum, rhoncus ante id, consequat mauris. Ut aliquam ipsum lectus, sit amet eleifend nunc venenatis ut. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
              </p>
            </div>
            <div class="latest-news-content-more">
              <a href="">Xem thêm <i class="fas fa-angle-double-right"></i></a>
            </div>
          </div>
        </div>    
      </div>  
    </section>

    <section class="categorical-news-section">
      <div class="container">
        <h1>
          Tin tức theo chủ đề
        </h1>
        <div class="categorical-news">

          <!-- Một block tin bao gồm 1 title và nhiều tin -->
          <div class="categorical-news-items-title">
            <h1>Tin thế giới</h1>
            <a href="#">Xem thêm <i class="fas fa-angle-double-right"></i></a>
          </div>
          <div class="categorical-news-items">
            <div class="categorical-news-item">
              <div class="categorical-news-item-image">
                <img src="/public/images/slide1.jpg" alt="">
              </div>
              <div class="categorical-news-item-content">
                <h2>Tiêu đề bản tin</h2>
                <p>Nội dung bản tin: ... </p>
              </div>
            </div>

            <div class="categorical-news-item">
              <div class="categorical-news-item-image">
                <img src="/public/images/slide2.jpg" alt="">
              </div>
              <div class="categorical-news-item-content">
                <h2>Tiêu đề bản tin</h2>
                <p>Nội dung bản tin: ... </p>
              </div>
            </div>
            
            <div class="categorical-news-item">
              <div class="categorical-news-item-image">
                <img src="/public/images/slide2.jpg" alt="">
              </div>
              <div class="categorical-news-item-content">
                <h2>Tiêu đề bản tin</h2>
                <p>Nội dung bản tin: ... </p>
              </div>
            </div>

            <div class="categorical-news-item">
              <div class="categorical-news-item-image">
                <img src="/public/images/slide2.jpg" alt="">
              </div>
              <div class="categorical-news-item-content">
                <h2>Tiêu đề bản tin</h2>
                <p>Nội dung bản tin: ... </p>
              </div>
            </div>
          </div>

          <!-- Block tin kinh tế -->
          <div class="categorical-news-items-title">
            <h1>Tin kinh tế</h1>
            <a href="#">Xem thêm <i class="fas fa-angle-double-right"></i></a>
          </div>
          <div class="categorical-news-items">
            <div class="categorical-news-item">
              <div class="categorical-news-item-image">
                <img src="/public/images/slide3.jpg" alt="">
              </div>
              <div class="categorical-news-item-content">
                <h2>Tiêu đề bản tin</h2>
                <p>Nội dung bản tin: ... </p>
              </div>
            </div>

            <div class="categorical-news-item">
              <div class="categorical-news-item-image">
                <img src="/public/images/slide4.jpg" alt="">
              </div>
              <div class="categorical-news-item-content">
                <h2>Tiêu đề bản tin</h2>
                <p>Nội dung bản tin: ... </p>
              </div>
            </div>

            <div class="categorical-news-item">
              <div class="categorical-news-item-image">
                <img src="/public/images/slide3.jpg" alt="">
              </div>
              <div class="categorical-news-item-content">
                <h2>Tiêu đề bản tin</h2>
                <p>Nội dung bản tin: ... </p>
              </div>
            </div>

            <div class="categorical-news-item">
              <div class="categorical-news-item-image">
                <img src="/public/images/slide4.jpg" alt="">
              </div>
              <div class="categorical-news-item-content">
                <h2>Tiêu đề bản tin</h2>
                <p>Nội dung bản tin: ... </p>
              </div>
            </div>

            <div class="categorical-news-item">
              <div class="categorical-news-item-image">
                <img src="/public/images/slide3.jpg" alt="">
              </div>
              <div class="categorical-news-item-content">
                <h2>Tiêu đề bản tin</h2>
                <p>Nội dung bản tin: ... </p>
              </div>
            </div>

            <div class="categorical-news-item">
              <div class="categorical-news-item-image">
                <img src="/public/images/slide4.jpg" alt="">
              </div>
              <div class="categorical-news-item-content">
                <h2>Tiêu đề bản tin</h2>
                <p>Nội dung bản tin: ... </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <% include footer %>
  </body>

  <script>

    /* ------  Hiệu ứng chuyển ảnh khi click trên ảnh nhỏ ----- */
    const bigImage = document.querySelector('.latest-news-big-image img')
    const smallImages = document.querySelectorAll('.latest-news-small-image img')

    
    smallImages.forEach(function(smallImage, index){
      smallImage.addEventListener('click', function(){
        // cập nhật ảnh
        var oldSrc = bigImage.src
        bigImage.src = smallImage.src
        smallImage.src = oldSrc

        // cập nhật nội dung
        // chưa viết
      })
    })
  </script>
</html>
