<!DOCTYPE html>
<html lang="vn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>

    <!-- Import CSS file -->
    <link rel="icon" href="/public/images/favicon.ico">
    <link rel="stylesheet" href="/public/stylesheets/default.css">
    <link rel="stylesheet" href="/public/stylesheets/index.css">

    <!-- Import JS file -->
    <script src="/public/javascripts/index.js"></script>
</head>
<body>
    <section class="login-section">
        <div class="login-content row container">
            <div class="login-content-left">
                <div class="login-content-left-title row">
                    <div class="login-content-left-title-login login-title-chose">
                        <p>Đăng nhập</p>
                    </div>
                    <div class="login-content-left-title-register">
                        <p>Đăng ký</p>
                    </div>
                </div>
                <div class="login-content-left-body">
                    <div class="login-content-left-body-login">
                        <div class="login-content-left-body-input">
                            <p>Tên đăng nhập</p>
                            <input class="login-username" type="text" placeholder="Tên đăng nhập của bạn">
                        </div>
                        <div class="login-content-left-body-input">
                            <p>Mật khẩu</p>
                            <input class="login-password" type="password" placeholder="Mật khẩu của bạn">
                        </div>

                        <p class="login-announcement" style="color: red; font-size: 14px; margin-bottom: 12px;">Bạn cần nhập username và password để đăng nhập!</p>

                        <div class="login-content-left-body-checkbox">
                            <input class="login-admin" type="checkbox">
                            <p>Bạn là admin?</p>
                        </div>

                        <div class="login-content-left-body-confirm row">
                            <button onclick="login()">Đăng nhập</button>
                            <button onclick="guestLogin()">Tôi là khách</button>
                        </div>
                    </div>
                    <div style="display: none;" class="login-content-left-body-register">
                        <div class="login-content-left-body-input">
                            <p>Tên đăng nhập</p>
                            <input class="register-username" type="text" placeholder="Tên đăng nhập của bạn">
                        </div>
                        <div class="login-content-left-body-input">
                            <p>Mật khẩu</p>
                            <input class="register-password-1" type="password" placeholder="Nhập mật khẩu">
                        </div>
                        <div class="login-content-left-body-input">
                            <p>Nhập lại mật khẩu</p>
                            <input class="register-password-2" type="password" placeholder="Nhập lại mật khẩu">
                        </div>

                        <p class="register-announcement" style="color: red; font-size: 14px; margin-bottom: 12px;">Bạn cần nhập thông tin để đăng ký!</p>

                        <div class="login-content-left-body-checkbox">
                            <input class="register-accept" type="checkbox">
                            <p>Đồng ý với điều khoản</p>
                        </div>
                        <div class="login-content-left-body-confirm row">
                            <button onclick="register()">Đăng ký</button>
                            <button><a href="/user/1/home">Tôi là khách</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-content-right">
                <div class="login-content-right-title-box">
                    <h1>Lazy News</h1>
                    <p>Trang web tin tức hàng đầu thế giới</p>
                </div>
                
                <img src="/public/images/pic2.png" alt="">
            </div>
        </div>
    </section>
</body>

<script>

</script>

</html>